* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(135deg,
            #74ebd5,
            #9face6);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 500px;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 px 10px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 20px;
    color: #717171;
}

form input {
    flex: 1;
    padding:12px;
    border:2px solid #ccc;
    border-radius:10px;
    outline:none;
    font-size:16px;
}

form button{
    padding:12px;
    border:none;
    border-radius:10px;
    background-color:#4f46e5;
    color:white;
    cursor:pointer;
}

form input:focus{
    border-color:#4f46e5
}

.weather-card {
    margin-top:20px;
}

.weather-card  img{
    width:150px;
    height:150px;
}

.weather-card h2,.weather-card h3{
    margin:10px 0;
    color:#4c4c4c;
}

.weather-details {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    flex-wrap: wrap;
}